@{
    ViewData["Title"] = "Página de Inicio";
}

<div class="text-center">
    <h1 class="display-4">¡MineGuess!</h1>
    <p class="mt-4">
        ¿Estás listo para poner a prueba tu conocimiento de Minecraft?
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="/Juego">¡Comenzar a Jugar!</a>
    </p>
</div>

